#title{
    text-align:center;
    color:aqua;
}
#front{
    height:500px;
    width:100%;
    border: solid;
}
.row1{
    height:200px;
    width:200px;
    border:solid;
}
body{
    background-color:lawngreen;
}
.names{
    color:red;
}